<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}" class="product-link">
              <img src="{{ product.imageUrl }}" class="img-responsive" />
              <h1>{{ product.name }}</h1>
            </a>

            <div class="price">{{ product.unitPrice | currency : "EUR" }}</div>
            <a class="primary-btn" style="text-decoration: none">Add to cart</a>
          </div>
        </div>
        <!-- if products empty then display a message-->
        <div
          *ngIf="products.length === 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found.
        </div>
        <div class="pagination row d-flex align-items-end">
          <div class="col-md-9" style="padding-left: 30%">
            <ngb-pagination
              [collectionSize]="totalElements"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="handlePageChange()"
            />
          </div>
          <div class="page-size col-md-3 mt-2">
            <span class="mr-2">Page Size</span>
            <select #pageSelect (change)="changePageSize(pageSelect.value)">
              <option selected="true">5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
