.detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.detail-img img {
  flex-grow: 1;
  flex-shrink: 1;
  object-fit: contain;
  max-width: 30%;
}

.description {
  flex-grow: 2;
  flex-shrink: 1;
  margin-bottom: 60px;
}

.detail-container a {
  text-decoration: none;
}

.detail-container a:hover {
  text-decoration: underline;
}

.detail-button {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 8%;
}
